@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .active {
    @apply bg-primary rounded-full mr-1;
  }

  .card {
    @apply flex flex-col justify-center w-full rounded-md bg-white;
  }

  .card-body {
    @apply border-x p-1 h-max;
  }

  .card-header {
    @apply rounded-t-md border h-20;
  }

  .card-footer {
    @apply rounded-b-md border h-20;
  }


  .auth-label {
    @apply text-gray-400 w-full text-xs;
  }

  .auth-input {
    @apply transition ease-in-out delay-150 duration-300 bg-third border-b-2 border-gray-600 placeholder-gray-600 w-3/4 outline-none h-10 py-3 text-gray-400;
  }

  .auth-input:focus {
    @apply border-b-2 border-primary;
  }

  .auth-header-btn-active{
    @apply text-gray-300 ml-4 border-b-2 border-primary pb-2;
  }

  .admin-sidebar .nuxt-link-exact-active{
        @apply bg-primary rounded-full mr-1 p-1;
  }

  .title-1 {
    @apply text-3xl font-bold ml-2 mt-3 text-gray-600;
  }

  .title-2 {
    @apply text-xl font-bold ml-2 py-3  text-gray-600;
  }

  .title-3 {
    @apply text-gray-500 text-lg border-b border-gray-500;
  }

  .btn-primary {
    @apply py-1 px-2 text-white bg-blue-500 rounded-lg;
  }

  .btn-primary:hover{
    @apply bg-blue-600  text-blue-200;
  }

  .btn-success {
    @apply px-2 py-1 text-white bg-primary rounded-lg;
  }

  .btn-success:hover {
    @apply bg-green-700 text-green-200;
  }

  .btn-secondary {
    @apply px-2 py-1 text-white bg-gray-500 rounded-lg;
  }

  .btn-secondary:hover {
    @apply bg-gray-600 text-gray-200;
  }


    .btn-danger {
      @apply px-2 py-1 text-white bg-red-500 rounded-lg;
    }

    .btn-danger:hover {
      @apply bg-red-600 text-red-200;
    }

  .app-input {
    @apply w-full h-10 px-3 mx-2 placeholder-gray-300 outline outline-none rounded-sm transition ease-in-out delay-75 duration-200 border-b-2 ;
  }

  .app-input:focus {
    @apply  border-primary placeholder-primary;
  }

  .app-label {
    @apply font-bold text-gray-500;
  }

  .app-input-error {
    @apply border-b border-red-600 placeholder-red-300;
  }

  .app-input-error-message{
    @apply text-red-400 pt-2;
  }

  .pagination  .active {
      @apply border-t border-b border-l border-gray-100 px-3 py-2 bg-gray-100 no-underline text-primary text-sm;
    }

  @screen lg {

    .active {
      @apply p-1;
    }
  }
}
